<template>
  <div>
    <NavReportes />
  </div>
</template>

<script>
import NavReportes from "@/components/Reportes/NavReportes.vue";
import { mapState, mapActions } from "vuex";
export default {
  props: {
    source: String
  },
  components: {
    NavReportes
  },
 
  data: () => ({
    drawer: true,
    item: 0
  }),
  computed: {
    // ...mapState(["pendientes", "mostrarfiltros", "sinLeer", "archivos"]),
    // filterPrioridad: () => {
    //   return this.pendientes.filter(item => item.nombre.includes(this.nombre));
    // }
  },
  created() {
    // this.$store.dispatch("getPendientes");
    // this.$store.dispatch("getArchivos");
    // this.$store.dispatch("getPendientesFiltrados");
    /* this.filtrar() */
  },
  methods: {
    cerrarSesion() {
      this.$router.push("/");
    }
  }
};
</script>

<style >
body{
  margin: 0;
  background: transparent;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/planner-legal.appspot.com/o/background.png?alt=media&token=0a496bd0-c4c5-4c74-986a-eb9c9cc29c39);
  background-repeat: repeat;
  }
body:before{
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.img {
  width: 140px;
  height: 40px;
}
.tabs {
  display: flex;
  justify-content: right;
}
</style>