<template>
  <div class="content-SignIn">
    <v-container fluid>
      <v-row  class="d-flex flex-row-reverse">
        <v-col float-right  cols="6" sm="2">
    <v-img
      class="imgLogo"
      src="https://firebasestorage.googleapis.com/v0/b/planner-legal.appspot.com/o/logo.png?alt=media&token=03cab387-fd69-4783-8801-5313c52510cd"
    />
    </v-col>
    </v-row>
      <v-row>
        <v-col cols="12" sm="6">
          <v-img
            src="https://firebasestorage.googleapis.com/v0/b/planner-legal.appspot.com/o/start.png?alt=media&token=24208ec9-15ee-44b5-800f-5b60ab24fd43"
          />
        </v-col>
        <v-col cols="12" sm="6" class="d-flex justify-center align-center">
          <div class="btnInicio float-left">
            <h2 class="colorInteligo">Bienvenido</h2>
            <div class="d-flex justify-center">
            <v-btn dark color="#233E99" @click="iniciarSesion">Iniciar sesión</v-btn>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import { fs } from "@/plugins/firebase.js";
import firebase from "firebase";
export default {
  data: () => ({}),
  methods: {
    iniciarSesion() {
      this.provider = new firebase.auth.OAuthProvider("microsoft.com");
      firebase
        .auth()
        .signInWithPopup(this.provider)
        .then(result => {
          // store the user ore wathever
          this.$store.commit("setToken", result.credential.accessToken);
          this.$router.push({ path: "/Pendientes" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>
<style>
.content-SignIn {
  margin: 0;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/planner-legal.appspot.com/o/backgroundStart.jpg?alt=media&token=1d45bc5a-53ed-47e1-849e-ceaae9bcef42);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 30px;
  height: 100vh;
  width: 100%;
}
.theme--light.v-application {
  background: transparent;
}
.imgLogo {
  width: 280px;
}
.btnInicio {
  height: 50%;
}
.colorInteligo {
  color: #233e99;
  font-weight: 400px;
  font-size: 3.75rem !important;
  letter-spacing: normal !important;
  padding-bottom: 10px;
}
</style>