<template>
  <v-app id="inspire">
        <v-card-title class="font-weight-medium subtitle-1">Filtra por:</v-card-title>
        <v-divider></v-divider>
    <v-treeview selectable selected-color="#6A6A6C" :items="items" activatable item-key="name" @select="cambio">
      <!-- <template slot="label" slot-scope="{ item }">
        <a @click="filtrarPendientes(item.name)">{{ item.name }}</a>
      </template> -->
    </v-treeview>

  </v-app>
</template>
<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "filtros",
  data: () => ({
    items: [
      {
        id: 1,
        name: "Urgencia",
        children: [
          { id: 2, name: "Muy Urgente" },
          { id: 3, name: "Urgente" },
          { id: 4, name: "Plazo definido" },
          { id: 5, name: "No Urgente" }
        ]
      },
      {
        id: 6,
        name: "Dedicación",
        children: [
          { id: 7, name: "Muy Alta" },
          { id: 8, name: "Alta" },
          { id: 9, name: "Media" },
          { id: 10, name: "Baja" },
          { id: 11, name: "Encargo puntual" }
        ]
      },
      {
        id: 12,
        name: "Status",
        children: [
          { id: 13, name: "Pendientes" },
          { id: 15, name: "Terminado" }
        ]
      },
      {
        id: 16,
        name: "En cancha de",
        children: [
          { id: 17, name: "Legal" },
          { id: 18, name: "Otras áreas" }
        ]
      },
      {
        id: 20,
        name: "Empresa",
        children: [
          { id: 21, name: "Group" },
          { id: 22, name: "SAB" },
          { id: 23, name: "Bank" },
          { id: 24, name: "USA" },
          { id: 25, name: "IPH" },
          { id: 26, name: "Interfondos" }
        ]
      }
    ]
  }),
  computed: {
    ...mapState(["pendientes", "arrPendientesFiltrados"])
  },
  created() {
    this.getPendientesFiltrados();
  },
  methods: {
    ...mapActions(["getPendientesFiltrados"]),
    filtrarPendientes(param) {
      console.log(param, "ando aqui");
      let filtrarpor = "";
      switch (param) {
        case "Muy Urgente":
          filtrarpor = "Muy Urgente";
          break;
        case "Urgente":
          filtrarpor = "Urgente";
          break;
        case "Plazo definido":
          filtrarpor = "Plazo definido";
          break;
        case "No Urgente":
          filtrarpor = "No Urgente";
          break;
        case "Muy Alta":
          filtrarpor = "Muy Alta";
          break;
        case "Alta":
          filtrarpor = "Alta";
          break;
        case "Media":
          filtrarpor = "Media";
          break;
        case "Baja":
          filtrarpor = "Baja";
          break;
        case "Encargo puntual":
          filtrarpor = "Encargo puntual";
          break;
        case "Pendientes":
          filtrarpor = "Pendientes";
          break;
        case "Stand By":
          filtrarpor = "Stand By";
          break;
        case "Terminado":
          filtrarpor = "Terminado";
          break;
        case "Legal":
          filtrarpor = "Legal";
            break;
        case "Otras áreas":
          filtrarpor = "Otras áreas";
          break;
        case "Legal":
          filtrarpor = "Legal";
          break;
        case "Group":
          filtrarpor = "Group";
          break;
        case "SAB":
          filtrarpor = "SAB";
          break;
        case "Bank":
          filtrarpor = "Bank";
          break;
        case "USA":
          filtrarpor = "USA";
          break;
        case "IPH":
          filtrarpor = "IPH";
          break;
        case "Interfondos":
          filtrarpor = "IF";
          break;
      }
///const empres = this.pendientes.empres

      const arrayFiltrado = this.pendientes.filter(
        pendiente => pendiente.empresa === filtrarpor,
         pendiente => pendiente.urgencia === filtrarpor,
           pendiente => pendiente.prioridad === filtrarpor,
             pendiente => pendiente.status === filtrarpor,
      );

        
     // console.log(arrayFiltrado, "que haces tu");
      this.$store.commit("setPendientes", arrayFiltrado);
    },
    cambio(val){
        console.log('aqui esta el valor', val);
        
    }
  }
};
</script>

