<template>
  <v-container>
    <v-card-title class="font-weight-medium subtitle-1">
      <v-icon color="#233E99">mdi-filter-outline</v-icon>Filtra por:
    </v-card-title>
    <v-divider></v-divider>
    <v-row>
      <v-col>
        <v-treeview v-model="selection" :items="items" selectable return-object></v-treeview>
      </v-col>
      <v-row>
        <v-divider></v-divider>
      </v-row>
    </v-row>
  </v-container>
</template>

<script>
import { fs } from "@/plugins/firebase.js";
import firebase from "firebase";
import { mapState, mapActions } from "vuex";
import { columnDragStart } from '@syncfusion/ej2-vue-grids';

export default {
  data: () => ({
    arr: [],
    selectionType: "leaf",
    selection: [],
    arrayFiltrados: [],
    arrayFiltrado: [],
    arrayFiltrado2: [],
    arrayFiltrado3: [],
    arrayFiltrado4: [],
    arrayFiltrado5: [],
    arrayFiltrado6: [],
    arrayFiltrado7: [],
    arrayFiltrado8: [],
    arrayFiltrado9: [],
    arrayFiltrado10: [],
    arrayFiltrado11: [],
    arrayFiltrado12: [],
    arrayFiltrado13: [],
    arrayFiltrado14: [],
    arrayFiltrado16: [],
    arrayFiltrado17: [],
    arrayFiltrado18: [],
    arrayFiltrado19: [],
    arrayFiltrado20: [],
    arrayFiltrado21: [],
    arrayFiltrado22: [],
    arrayFiltrado23: [],
    arrayFiltrado24: [],
    arrayFiltrado25: [],
    arrayFiltrado26: [],
    arrayFiltrado27: [],
    arrayFiltrado28: [],
    arrayFiltrado29: [],
    arrayFiltrado30: [],
    arrayFiltrado31: [],
    items: [
      {
        id: 1,
        name: "Empresa",
        children: [
          { id: 2, name: "GROUP" },
          { id: 3, name: "SAB" },
          { id: 4, name: "BANK" },
          { id: 5, name: "USA" },
          { id: 6, name: "IPH" },
          { id: 7, name: "IF" }
        ]
      },
      {
        id: 8,
        name: "En cancha de",
        children: [
          {
            id: 9,
            name: "Legal",
            children: [
              { id: 10, name: "Gianina Gotuzzo" },
              { id: 11, name: "Andrea Pérez" },
              { id: 12, name: "Franco Gratta" },
              { id: 13, name: "Oscar García" },
            ]
          },
          {
            id: 14,
            name: "Otras áreas",
            children: [
              { id: 15, name: "Asesor externo" },
              { id: 16, name: "Solicitante" }
            ]
          }
        ]
      },
      {
        id: 17,
        name: "Status",
        children: [
          { id: 18, name: "Pendiente" },
          { id: 20, name: "En seguimiento" }
        ]
      },
      {
        id: 21,
        name: "Urgencia",
        children: [
          { id: 22, name: "Muy urgente" },
          { id: 23, name: "Urgente" },
          { id: 24, name: "Con plazo definido" },
          { id: 25, name: "No urgente" }
        ]
      },
      {
        id: 26,
        name: "Responsable",
        children: [
          { id: 27, name: "Gianina Gotuzzo" },
          { id: 28, name: "Oscar García" },
          { id: 29, name: "Franco Gratta" },
          { id: 30, name: "Practicante" },
          { id: 31, name: "Andrea Pérez" }
        ]
      }

    ]
  }),
  computed: {
    ...mapState(["pendientes", "arrPendientesFiltrados", "responsables"])
  },
  created() {
    this.getPendientesFiltrados();
  },
  updated() {
    this.selection;
  },
  watch: {
    selection: function() {
      this.arr = [];
      this.arrayFiltrado = [];
      this.arrayFiltrados = [];
      if (this.selection != []) {
        this.selection.forEach(select => {
          setTimeout(() => {
            if (select.id <= 7) {
              this.getSelectionEmpresas(this.selection);
            }
            if (10 <= select.id && select.id <= 13) {
              this.getAreaLegal(this.selection);
            }
            if (15 <= select.id && select.id <= 16) {
              this.getAreaOtros(this.selection);
            }
            if (18 <= select.id && select.id <= 20) {
              this.getSelectionStatus(this.selection);
            }
            if (22 <= select.id && select.id <= 25) {
              this.getUrgencia(this.selection);
            }
            if (26 <= select.id && select.id <= 31) {
              this.getResponsable(this.selection);
            }
          }, 300);
        });
      }
      if (this.selection.length === 0) {
        this.arr = [],
          this.$store.commit("setArrPendientesFiltrados", this.arr);
        this.getPendientes();
      }
    }
  },
  methods: { 
    ...mapActions(["getPendientesFiltrados"]),

    getPendientes(){
      fs.collection("pendientes").onSnapshot(docs => {
        const tareas = [];
        docs.forEach(e => {
          const elemento = { id: e.id, ...e.data() };
          tareas.push(elemento);
        });
        this.$store.commit("setPendientes", tareas);
      });
    },
    filtrar(name) {
      
      return this.pendientes.filter(
        x =>
          x.empresa === name ||
          x.urgencia === name ||
          x.areaGlobal === name ||
          x.status === name ||
          x.responsables[0] === name ||
          x.responsables[1] === name ||
          x.responsables[2] === name ||
          x.responsables[3] === name
      );
    },
    filtrar2(name) {
      return this.arrPendientesFiltrados.filter(
        x =>
          x.empresa === name &&
          x.urgencia === name &&
          x.cancha === name &&
          x.status === name
      );
    },
    borrarFiltro() {
      this.getPendientesFiltrados();
      this.selection.length = 0;
    },
    filterEmpresas(name) {
      return this.arrPendientesFiltrados.filter(x => x.empresa === name);
    },
    filterStatus(name) {
      return this.arrPendientesFiltrados.filter(x => x.status === name);
    },
    filterGlobal(name) {
      return this.arrPendientesFiltrados.filter(x => x.areaGlobal === name);
    },
    filterUrgencia(name) {
      return this.arrPendientesFiltrados.filter(x => x.urgencia === name);
    },
    filterResponsable(name) {
      console.log(this.arrPendientesFiltrados);
      return this.arrPendientesFiltrados.filter(x => 
          x.responsables[0] === name ||
          x.responsables[1] === name ||
          x.responsables[2] === name ||
          x.responsables[3] === name);
    },
    async getSelectionEmpresas(select) {
      this.arrayFiltrado2 = [];
      this.arrayFiltrado3 = [];
      this.arrayFiltrado4 = [];
      this.arrayFiltrado5 = [];
      this.arrayFiltrado6 = [];
      this.arrayFiltrado7 = [];
      if (
        select[0].id === 2 ||
        select[0].id === 3 ||
        select[0].id === 4 ||
        select[0].id === 5 ||
        select[0].id === 6 ||
        select[0].id === 7
      ) {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 2:
              this.arrayFiltrado2 = this.filtrar(e.name);
              break;
            case 3:
              this.arrayFiltrado3 = this.filtrar(e.name);
              break;
            case 4:
              this.arrayFiltrado4 = this.filtrar(e.name);
              break;
            case 5:
              this.arrayFiltrado5 = this.filtrar(e.name);
              break;
            case 6:
              this.arrayFiltrado6 = this.filtrar(e.name);
              break;
            case 7:
              this.arrayFiltrado7 = this.filtrar(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado2,
            this.arrayFiltrado3,
            this.arrayFiltrado4,
            this.arrayFiltrado5,
            this.arrayFiltrado6,
            this.arrayFiltrado7
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      } else {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 2:
              this.arrayFiltrado2 = this.filterEmpresas(e.name);
              break;
            case 3:
              this.arrayFiltrado3 = this.filterEmpresas(e.name);
              break;
            case 4:
              this.arrayFiltrado4 = this.filterEmpresas(e.name);
              break;
            case 5:
              this.arrayFiltrado5 = this.filterEmpresas(e.name);
              break;
            case 6:
              this.arrayFiltrado6 = this.filterEmpresas(e.name);
              break;
            case 7:
              this.arrayFiltrado7 = this.filterEmpresas(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado2,
            this.arrayFiltrado3,
            this.arrayFiltrado4,
            this.arrayFiltrado5,
            this.arrayFiltrado6,
            this.arrayFiltrado7
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      }
      this.arrayFiltrados.forEach(e => {
        if (e != undefined) {
          this.arr.push(e);
        }
      });
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      } else {
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      }
    },
    async getSelectionStatus(select) {
      this.arrayFiltrado18 = [];
      this.arrayFiltrado19 = [];
      this.arrayFiltrado20 = [];

      if (select[0].id === 18 || select[0].id === 19 || select[0].id === 20) {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];

          switch (e.id) {
            case 18:
              this.arrayFiltrado18 = this.filtrar(e.name);
              break;
            case 19:
              this.arrayFiltrado19 = this.filtrar(e.name);
              break;
            case 20:
              this.arrayFiltrado20 = this.filtrar(e.name);
              break;
          }

          this.arrayFiltrado = [
            this.arrayFiltrado18,
            this.arrayFiltrado19,
            this.arrayFiltrado20
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      } else {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];

          switch (e.id) {
            case 18:
              this.arrayFiltrado18 = this.filterStatus(e.name);
              break;
            case 19:
              this.arrayFiltrado19 = this.filterStatus(e.name);
              break;
            case 20:
              this.arrayFiltrado20 = this.filterStatus(e.name);
              break;
          }

          this.arrayFiltrado = [
            this.arrayFiltrado18,
            this.arrayFiltrado19,
            this.arrayFiltrado20
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      }
      this.arrayFiltrados.forEach(e => {
        if (e != undefined) {
          this.arr.push(e);
        }
      });
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      } else {
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      }
    },
    async getAreaLegal(select) {
      this.arrayFiltrado10 = [];
      this.arrayFiltrado11 = [];
      this.arrayFiltrado12 = [];
      this.arrayFiltrado13 = [];
      if (
        select[0].id === 10 ||
        select[0].id === 11 ||
        select[0].id === 12 ||
        select[0].id === 13
      ) {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 10:
              this.arrayFiltrado10 = this.filtrar(e.name);
              break;
            case 11:
              this.arrayFiltrado11 = this.filtrar(e.name);
              break;
            case 12:
              this.arrayFiltrado12 = this.filtrar(e.name);
              break;
            case 13:
              this.arrayFiltrado13 = this.filtrar(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado10,
            this.arrayFiltrado11,
            this.arrayFiltrado12,
            this.arrayFiltrado13
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      } else {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 10:
              this.arrayFiltrado10 = this.filterGlobal(e.name);
              break;
            case 11:
              this.arrayFiltrado11 = this.filterGlobal(e.name);
              break;
            case 12:
              this.arrayFiltrado12 = this.filterGlobal(e.name);
              break;
            case 13:
              this.arrayFiltrado13 = this.filterGlobal(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado10,
            this.arrayFiltrado11,
            this.arrayFiltrado12,
            this.arrayFiltrado13
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      }
      this.arrayFiltrados.forEach(e => {
        if (e != undefined) {
          this.arr.push(e);
        }
      });
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      } else {
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      }
    },
    async getAreaOtros(select) {
      this.arrayFiltrado15 = [];
      this.arrayFiltrado16 = [];
      if (select[0].id === 15 || select[0].id === 16) {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 15:
              this.arrayFiltrado15 = this.filtrar(e.name);
              break;
            case 16:
              this.arrayFiltrado16 = this.filtrar(e.name);
              break;
          }
          this.arrayFiltrado = [this.arrayFiltrado15, this.arrayFiltrado16];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });

        this.arrayFiltrados.forEach(e => {
          if (e != undefined) {
            this.arr.push(e);
          }
        });
      } else {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 15:
              this.arrayFiltrado15 = this.filterGlobal(e.name);
              break;
            case 16:
              this.arrayFiltrado16 = this.filterGlobal(e.name);
              break;
          }
          this.arrayFiltrado = [this.arrayFiltrado15, this.arrayFiltrado16];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });

        this.arrayFiltrados.forEach(e => {
          if (e != undefined) {
            this.arr.push(e);
          }
        });
      }
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      } else {
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      }
    },
    async getUrgencia(select) {
      this.arrayFiltrado22 = [];
      this.arrayFiltrado23 = [];
      this.arrayFiltrado24 = [];
      this.arrayFiltrado25 = [];
      if (
        select[0].id === 22 ||
        select[0].id === 23 ||
        select[0].id === 24 ||
        select[0].id === 25
      ) {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 22:
              this.arrayFiltrado22 = this.filtrar(e.name);
              break;
            case 23:
              this.arrayFiltrado23 = this.filtrar(e.name);
              break;
            case 24:
              this.arrayFiltrado24 = this.filtrar(e.name);
              break;
            case 25:
              this.arrayFiltrado25 = this.filtrar(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado22,
            this.arrayFiltrado23,
            this.arrayFiltrado24,
            this.arrayFiltrado25
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      } else {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          console.log(e);
          switch (e.id) {
            case 22:
              this.arrayFiltrado22 = this.filterUrgencia(e.name);
              break;
            case 23:
              this.arrayFiltrado23 = this.filterUrgencia(e.name);
              break;
            case 24:
              this.arrayFiltrado24 = this.filterUrgencia(e.name);
              break;
            case 25:
              this.arrayFiltrado25 = this.filterUrgencia(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado22,
            this.arrayFiltrado23,
            this.arrayFiltrado24,
            this.arrayFiltrado25
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      }
      this.arrayFiltrados.forEach(e => {
        if (e != undefined) {
          this.arr.push(e);
        }
      });
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      } else {
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      }
    },
    async getResponsable(select) {
      
      this.arrayFiltrado27 =  []
      this.arrayFiltrado28 =  []
      this.arrayFiltrado29 =  []
      this.arrayFiltrado30 =  []
      this.arrayFiltrado31 =  []
      
      if (
        select[0].id === 27 ||
        select[0].id === 28 ||
        select[0].id === 29 ||
        select[0].id === 30 ||
        select[0].id === 31 ) {
        await select.forEach(e => {
          console.log('entra a FILTRAR');
          let responsableIni = this.getInicialesResponsable(e.name)
          
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 27:
              this.arrayFiltrado27 = this.filtrar(responsableIni);
              break;
            case 28:
              this.arrayFiltrado28 = this.filtrar(responsableIni);
              break;
            case 29:
              this.arrayFiltrado29 = this.filtrar(responsableIni);
              break;
            case 30:
              this.arrayFiltrado30 = this.filtrar(responsableIni);
              break;
            case 31:
              this.arrayFiltrado31 = this.filtrar(responsableIni);
              break;
          }
          this.arrayFiltrado = [this.arrayFiltrado27, this.arrayFiltrado28, this.arrayFiltrado29, this.arrayFiltrado30, this.arrayFiltrado31];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });

        this.arrayFiltrados.forEach(e => {
          if (e != undefined) {
            this.arr.push(e);
          }
        });
      } else {
        console.log('entra a filterResponsable');
        await select.forEach(e => {
          console.log(e);
          // let responsableIni = this.getInicialesResponsable(e.name)
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 27:
              this.arrayFiltrado27 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
            case 28:
              this.arrayFiltrado28 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
            case 29:
              this.arrayFiltrado29 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
            case 30:
              this.arrayFiltrado30 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
            case 31:
              this.arrayFiltrado31 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
          }
          this.arrayFiltrado = [this.arrayFiltrado27, this.arrayFiltrado28, this.arrayFiltrado29, this.arrayFiltrado30, this.arrayFiltrado31];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });

        this.arrayFiltrados.forEach(e => {
          if (e != undefined) {
            this.arr.push(e);
          }
        });
      }
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      } else {
        this.$store.commit("setArrPendientesFiltrados", this.arr);
      }
    },
    getInicialesResponsable(nombre) {
      const responsable = this.responsables.filter((x)=> x.nombre === nombre)
      return responsable[0].responsable
    }
  }
};
</script>

