<template>
  <div>
    <div>
      <v-btn @click="abrirModalCrear" class="btn-agregar__pendiente">
        <v-icon class="icon-agregar__pendiente">mdi-plus</v-icon> Crear Pendiente</v-btn>
    </div>
    <v-dialog v-model="dialog" width="600">
      <v-card>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-toolbar cards flat>
            <v-card-title class="headline">Crear Pendiente</v-card-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="dialog = false">
              <v-icon color="#233E99">mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="8">
                  <v-text-field
                    v-model="pendiente.nombre"
                    label="Nombre del Pendiente*"
                    required
                    :rules="[v => !!v || 'Ingrese un pendiente']"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="4">
                  <v-select
                    :items="empresa"
                    item-text="empresa"
                    item-value="empresa"
                    label="Empresa*"
                    v-model="pendiente.empresa"
                    :rules="[v => !!v || 'Seleccione una empresa']"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="4">
                  <div></div>
                  <v-select
                    :items="areas"
                    item-text="area"
                    item-value="area"
                    v-model="pendiente.area"
                    label="Área*"
                    required
                    :rules="[v => !!v || 'Seleccione un área']"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="4">
                  <v-autocomplete
                    :items="responsables"
                    item-text="responsable"
                    item-value="responsable"
                    label="Responsables*"
                    v-model="pendiente.responsables"
                    multiple
                    required
                    :rules="[v => !!v || 'Seleccione un responsable']"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="4">
                  <v-menu
                    ref="menu1"
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="computedDateFormatted"
                        label="Fecha de vencimiento"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="fechaFin" locale="es-PE" @input="menu1 = false" required></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    auto-grow
                    name="input-7-1"
                    label="Descripción"
                    v-model="pendiente.descripcion"
                  ></v-textarea>
                </v-col>

                <v-col cols="12" sm="6">
                  <v-select
                    :items="prioridad"
                    item-text="prioridad"
                    item-value="prioridad"
                    label="Prioridad*"
                    v-model="pendiente.prioridad"
                    required
                    :rules="[v => !!v || 'Seleccione una prioridad']"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-select
                    :items="urgencia"
                    item-text="urgencia"
                    item-value="urgencia"
                    label="Urgencia*"
                    v-model="pendiente.urgencia"
                    required
                    :rules="[v => !!v || 'Seleccione una urgencia']"
                  ></v-select>
                </v-col>

                <v-col cols="12" sm="6">
                  <v-select
                    :items="tema"
                    item-text="tencargo"
                    item-value="tencargo"
                    label="Temas de encargo*"
                    v-model="pendiente.temaEncargo"
                    required
                    :rules="[v => !!v || 'Seleccione un tema de encargo']"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="3">
                  <v-select
                    :items="canchas"
                    item-text="cancha"
                    item-value="cancha"
                    label="En cancha de:*"
                    v-model="pendiente.cancha"
                    required
                    :rules="[v => !!v || 'Seleccione una opción']"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="3" v-if="pendiente.cancha === 'Legal'">
                  <v-select
                    :items="responsables"
                    item-text="nombre"
                    item-value="nombre"
                    label="A cargo de:*"
                    v-model="pendiente.areaGlobal"
                    required
                    :rules="[v => !!v || 'Seleccione una opción']"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="3" v-if="pendiente.cancha === 'Otras áreas'">
                  <v-select
                    :items="otros"
                    item-text="otros"
                    item-value="otros"
                    label="A cargo:*"
                    v-model="pendiente.areaGlobal"
                    required
                    :rules="[v => !!v || 'Seleccione una opción']"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-select
                    :items="status"
                    item-text="status"
                    item-value="status"
                    label="Status*"
                    v-model="pendiente.status"
                    required
                    :rules="[v => !!v || 'Seleccione un estado']"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-select :items="dedicacion" label="Dedicación*" required disabled></v-select>
                </v-col>
              </v-row>
            </v-container>
            <small>*Información requerida</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              center
              dark
              color="#233E99"
              @click.prevent="onFormSubmit"
            >
              Crear
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { fs } from "@/plugins/firebase.js";
import firebase from "firebase";
import { mapState, mapActions } from "vuex";

export default {
  fetch({ store }) {
    fs.collection("pendientes").onSnapshot(docs => {
      const tareas = [];
      docs.forEach(e => {
        console.log(e.id, e.data());
        tareas.push(e.data());
      });
      return store.commit("setPendientes", tareas);
    });
  },
  data() {
    return {
      fechaFin: new Date().toISOString().substr(0, 10),
      menu1: false,
      dialog: false,
      contador: 0,
      modalCrear: false,
      pendiente: {status: "Pendiente"},
      dedicacion: ["Muy Alta", "Alta", "Media", "Baja"],
      valid: true
    };
  },
  computed: {
    ...mapState([
      "pendientes",
      "token",
      "areas",
      "responsables",
      "empresa",
      "prioridad",
      "status",
      "urgencia",
      "tema",
      "canchas",
      "otros"
    ]),
    computedDateFormatted() {
      return this.formatDate(this.fechaFin);
    }
  },

  create() {},
  methods: {
    ...mapActions([
      "getArea",
      "getResponsable",
      "getEmpresa",
      "getPrioridad",
      "getUrgencia",
      "getStatus",
      "getTemaEncargo",
      "getCancha",
      "getOtros",
      "getDedidacion"
    ]),
    abrirModalCrear() {
      this.getArea();
      this.getResponsable();
      this.getEmpresa();
      this.getPrioridad();
      this.getUrgencia();
      this.getStatus();
      this.getTemaEncargo();
      this.getCancha();
      this.getOtros();
      this.getDedidacion();
      console.log('entro');
      this.dialog = true
    },
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    onFormSubmit() {
      if (this.$refs.form.validate()) {
        this.dialog = false
        this.pendiente.dedicacion = "";
        this.pendiente.inicio = new Date().getTime();
        this.pendiente.fin = this.fechaFin;
        console.log('prioridad'+this.pendiente.prioridad);
        if (this.pendiente.prioridad !== undefined) {
          if (this.pendiente.prioridad === 'Alta') {
            this.pendiente.colorprioridad = 'Crojo'
          }
          if (this.pendiente.prioridad === 'Media') {
            this.pendiente.colorprioridad = 'Bamarillo'
          }
          if (this.pendiente.prioridad === 'Baja') {
            this.pendiente.colorprioridad = 'Averde'
          }
        }
        this.modalCrear = false;
        fs.collection("pendientes")
          .add(this.pendiente)
          .then(() => {
            (this.pendiente.nombre = ""),
              (this.pendiente.empresa = ""),
              (this.pendiente.area = ""),
              (this.pendiente.responsables = ""),
              (this.pendiente.status = ""),
              (this.pendiente.urgencia = ""),
              (this.pendiente.descripcion = ""),
              (this.pendiente.temaEncargo = ""),
              (this.pendiente.cancha = ""),
              (this.pendiente.areaGlobal = "")
              (this.pendiente.fechaFin = ""),
              (this.pendiente.prioridad = "");
          })
          .catch(error => {
            console.log(error);
          });
        this.agendar();
      }
    },
    async agendar() {
      const dataEvent = {
        subject: "Recordatorio de pendiente",
        body: {
          contentType: "HTML",
          content: `Pendiente ${this.pendiente.nombre}`
        },
        start: {
          dateTime: `${this.pendiente.fin}T09:00:00`,
          timeZone: "America/Bogota"
        },
        end: {
          dateTime: `${this.pendiente.fin}T09:05:00`,
          timeZone: "America/Bogota"
        }
      };
      const token = this.token;
      const config = {
        url: `https://graph.microsoft.com/v1.0/me/events`,
        method: "POST",
        data: dataEvent,
        headers: { Authorization: `Bearer ${token}` },
        responseType: "json"
      };
      await this.$axios(config)
        .then(result => {
          console.log(result);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
<style>
  .icon-agregar__pendiente {
    background-color: rgb(35, 62, 153);
    color: #ffffff !important;
    padding: 3px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .btn-agregar__pendiente {
    background-color: transparent !important;
    border: none !important;
    color: rgb(35, 62, 153) !important;
    font-size: 16px !important;
    font-weight: 600;
    box-shadow: none !important;
  }
</style>