<template>
  <v-dialog v-model="modall" persistent max-width="600px">
    <v-card>
      <form>
        <v-toolbar cards flat>
          <v-card-title class="headline">Editar Pendiente</v-card-title>
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon @click="cancelarRegistor" color="#233E99">mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="8">
                <v-text-field v-model="pendiente.nombre" label="Nombre del Pendiente*" required></v-text-field>
              </v-col>
              <v-col cols="12" sm="4">
                <v-select
                  :items="empresa"
                  item-text="empresa"
                  item-value="empresa"
                  label="Empresa*"
                  v-model="pendiente.empresa"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="4">
                <div></div>
                <v-select
                  :items="areas"
                  item-text="area"
                  item-value="area"
                  v-model="pendiente.area"
                  label="Área*"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="4">
                <v-autocomplete
                  :items="responsables"
                  item-text="responsable"
                  item-value="responsable"
                  label="Responsables*"
                  v-model="pendiente.responsables"
                  multiple
                  required
                ></v-autocomplete>
              </v-col>
              <v-col cols="12" sm="4">
                <v-menu
                  ref="menu1"
                  v-model="menu1"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="computedDateFormatted"
                      label="Fecha de vencimiento"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="fechaFin" locale="es-PE" @input="menu1 = false"></v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  name="input-7-1"
                  label="Descripción"
                  v-model="pendiente.descripcion"
                ></v-textarea>
              </v-col>

              <v-col cols="12" sm="6">
                <v-select
                  :items="prioridad"
                  item-text="prioridad"
                  item-value="prioridad"
                  label="Prioridad*"
                  v-model="pendiente.prioridad"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  :items="urgencia"
                  item-text="urgencia"
                  item-value="urgencia"
                  label="Urgencia*"
                  v-model="pendiente.urgencia"
                  required
                ></v-select>
              </v-col>

              <v-col cols="12" sm="6">
                <v-select
                  :items="tema"
                  item-text="tencargo"
                  item-value="tencargo"
                  label="Temas de encargo*"
                  v-model="pendiente.temaEncargo"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="3">
                <v-select
                  :items="canchas"
                  item-text="cancha"
                  item-value="cancha"
                  label="En cancha de:*"
                  v-model="pendiente.cancha"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="3" v-if="pendiente.cancha === 'Legal'">
                <v-select
                  :items="responsables"
                  item-text="nombre"
                  item-value="nombre"
                  label="A cargo de:*"
                  v-model="pendiente.areaGlobal"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="3" v-if="pendiente.cancha === 'Otras áreas'">
                <v-select
                  :items="otros"
                  item-text="otros"
                  item-value="otros"
                  label="A cargo:*"
                  v-model="pendiente.areaGlobal"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  :items="status"
                  @change="cambiarStatus"
                  item-text="status"
                  item-value="status"
                  label="Status*"
                  v-model="pendiente.status"
                  required
                ></v-select>
              </v-col>
              <v-col v-if=" mostrarDedicacion" cols="12" sm="5">
                <v-select
                  :items="dedicacion"
                  label="Dedicación*"
                  item-text="dedicacion"
                  item-value="dedicacion"
                  v-model="pendiente.dedicacion"
                  required
                ></v-select>
              </v-col>
              <v-col v-if="mostrarDedicacion" cols="12" sm="1">
                <v-tooltip v-model="show1" bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on">
                      <v-icon
                        class="icono-clip"
                        color="#233E99"
                        @click.prevent="archivarItem"
                      >mdi-attachment</v-icon>
                    </v-btn>
                  </template>
                  <span>Archivar</span>
                </v-tooltip>
              </v-col>
            </v-row>
            <small>*Información requerida</small>
          </v-container>

          <v-row>
            <v-btn icon color="primary" dark @click.stop="dialogi = true">
              <v-icon color="#233E99">mdi-delete</v-icon>
            </v-btn>

            <v-dialog v-model="dialogi" max-width="290">
              <v-card>
                <v-card-title class="headline">¿Desea eliminar este Pendiente?</v-card-title>

                <v-card-text>Att. Inteligo Group</v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn color="blue darken-1" text @click="dialogi = false">Cancelar</v-btn>

                  <v-btn color="blue darken-1" text @click="deleteItem()">Aceptar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <!-- <v-btn type="submit" dark color="#233E99" @click.prevent="guardarRegistro">Modificar</v-btn>
          <v-spacer></v-spacer>
          <v-btn dark color="#31489B" v-if="mostrarDedicacion" @click="archivarItem()">Archivar</v-btn>-->
          <v-btn type="submit" dark color="#233E99" @click.prevent="guardarRegistro">Modificar</v-btn>
        </v-card-actions>
      </form>
    </v-card>
  </v-dialog>
</template>
<script>
import { fs } from "@/plugins/firebase.js";
import firebase from "firebase";
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      dialogi: false,
      type: null,
      elapse: null,
      show1: true,
      // pendiente: this.$store.state.pendiente,
      fechaFin: new Date().toISOString().substr(0, 10),
      menu1: false,
      name: "",
      dialog: true,
      modalCrear: false,
      pendienteToModificar: {},
      mostrarDedicacion: false
      // dedicacion: ["Muy Alta", "Alta", "Media", "Baja"],
    };
  },
  computed: {
    ...mapState([
      "pendientes",
      "modall",
      "areas",
      "responsables",
      "empresa",
      "prioridad",
      "status",
      "urgencia",
      "tema",
      "canchas",
      "otros",
      "dedicacion"
    ]),
    computedDateFormatted() {
      return this.formatDate(this.fechaFin);
    },
    pendiente: {
      get() {
        //console.log(this.$tore.state.pendiente,'tra todo pendiente')
        return {
          id: this.$store.state.pendiente.id,
          nombre: this.$store.state.pendiente.nombre,
          descripcion: this.$store.state.pendiente.descripcion,
          empresa: this.$store.state.pendiente.empresa,
          inicio: this.$store.state.pendiente.inicio,
          fin: this.$store.state.pendiente.fin,
          prioridad: this.$store.state.pendiente.prioridad,
          responsables: this.$store.state.pendiente.responsables,
          status: this.$store.state.pendiente.status,
          area: this.$store.state.pendiente.area,
          areaGlobal: this.$store.state.pendiente.areaGlobal,
          temaEncargo: this.$store.state.pendiente.temaEncargo,
          cancha: this.$store.state.pendiente.cancha,
          dedicacion: this.$store.state.pendiente.dedicacion,
          urgencia: this.$store.state.pendiente.urgencia
        };
      }
    }
  },
  created() {
    this.$store.commit("setModal", false);
  },
  methods: {
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    cambiarStatus() {
      if (this.pendiente.status === "Terminado") {
        this.mostrarDedicacion = true;
      } else {
        this.mostrarDedicacion = false;
      }
      console.log(this.pendiente.status);
    },
    guardarRegistro() {
      this.$store.commit("setModal", false);
      console.log(this.pendiente, "todos los this pendiente");
      const docu = fs.collection("pendientes").doc(this.pendiente.id);
        docu
        .update({
          nombre: this.pendiente.nombre,
          descripcion: this.pendiente.descripcion,
          empresa: this.pendiente.empresa,
          inicio:  this.pendiente.inicio,
          fin: this.pendiente.fin,
          areaGlobal: this.pendiente.areaGlobal,
          area: this.pendiente.area,
          cancha: this.pendiente.cancha,
          dedicacion: this.pendiente.dedicacion,
          prioridad: this.pendiente.prioridad,
          status: this.pendiente.status,
          temaEncargo: this.pendiente.temaEncargo,
          urgencia: this.pendiente.urgencia,
          responsables: this.pendiente.responsables
        })
        .then(function() {
          console.log("Document successfully updated!");
          this.mostrarDedicacion = false;
        })
        .catch(function(error) {
          console.error("Error updating document: ", error);
        });
    },
    cancelarRegistor() {
      console.log("registrar");
      this.$store.commit("setModal", false);
      this.$store.commit('setPendiente', '')
    },
    deleteItem() {
      console.log(this.pendiente.id);
      fs.collection("pendientes")
        .doc(this.pendiente.id)
        .delete();
      this.$store.commit("setModal", false);
      this.$store.commit('setPendiente', '')
    },
    archivarItem() {
      const index = this.pendientes.indexOf(this.pendiente);
      console.log('que trae pendiente de modificar', this.pendiente);
      let descripcionPendiente = !this.pendiente.descripcion ? descripcionPendiente = '' : descripcionPendiente = this.pendiente.descripcion
      fs.collection("Archivados")
        .doc(this.pendiente.id)
        .set({
          id: this.pendiente.id,
          nombre: this.pendiente.nombre,
          descripcion: descripcionPendiente,
          area: this.pendiente.area,
          empresa: this.pendiente.empresa,
          fin: this.pendiente.fin,
          inicio: this.pendiente.inicio,
          areaGlobal: this.pendiente.areaGlobal,
          prioridad: this.pendiente.prioridad,
          responsables: this.pendiente.responsables,
          temaEncargo: this.pendiente.temaEncargo,
          status: this.pendiente.status,
          cancha: this.pendiente.cancha,
          dedicacion: this.pendiente.dedicacion,
          urgencia: this.pendiente.urgencia
        })
        .then((this.mostrarDedicacion = false));
      fs.collection("pendientes")
        .doc(this.pendiente.id)
        .delete();
      this.$store.commit("archivarPendiente", index);
      this.$store.commit("setModal", false);
      this.$store.commit('setPendiente', '')
    }
  }
};
</script>
<style >
.icono-clip {
  transform: rotate(+130deg);
}
</style>