<template>
  <div id="app-tabla">
    <div class="cnt-search">
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
    </div>
    <v-app id="inspire" v-show="arrPendientesFiltrados.length === 0">
      <v-data-table :search="search" :headers="titulos" :items="pendientes" sortBy="inicio" sortDesc item-key="id" class="elevation-1" id="tabla-pendientes">
        <template v-slot:top>
          <v-toolbar flat>
            <ModalCrear />
            <v-spacer></v-spacer>
          </v-toolbar>
        </template>
        <template v-slot:item.colorprioridad="{ item }">
          <v-btn :color="getColor(item.colorprioridad)" tile id="btn-color"></v-btn>
        </template>
        <template v-slot:item.responsables="{ item }">
          <v-card-actions>
            <v-avatar
              v-for="(responsable,index) in Array(item.responsables).flat()"
              :key="index"
              color="#233E99"
              size="36"
            >
              <span class="white--text">{{responsable }}</span>
            </v-avatar>
          </v-card-actions>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-card-actions>
            <v-btn icon color="#233E99" @click="editItem(item)">
            <v-icon >mdi-pencil</v-icon>
            </v-btn>
          </v-card-actions>
        </template>
        <template v-slot:item.fin="{ item }">
          <td
            v-for="(fin,index) in Array(item.fin).flat()"
            :key="index"
            color="white"
          >{{formatDate(fin) }}</td>
        </template>
      </v-data-table>
      <div>
        <!-- <ModalModificar :info="verModificar" @setInfo="setInfo" /> -->
      </div>
    </v-app>
    <v-app id="inspire" v-show="arrPendientesFiltrados.length != 0">
      <v-data-table
        :headers="titulos"
        :items="arrPendientesFiltrados"
        :search="search"
        item-key="id"
        class="elevation-1"
      >
        <template v-slot:item.colorprioridad="{ item }">
          <v-btn :color="getColor(item.colorprioridad) " tile dark id="btn-color"></v-btn>
        </template>
        <template v-slot:item.responsables="{ item }">
          <v-card-actions>
            <v-avatar
              v-for="(responsable,index) in Array(item.responsables).flat()"
              :key="index"
              color="#233E99"
              size="36"
            >
              <span class="white--text">{{responsable }}</span>
            </v-avatar>
          </v-card-actions>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-card-actions>
            <v-btn icon color="#233E99" @click="editItem(item)">
            <v-icon >mdi-pencil</v-icon>
            </v-btn>
          </v-card-actions>
        </template>
        <template v-slot:item.fin="{ item }">
          <td
            v-for="(fin,index) in Array(item.fin).flat()"
            :key="index"
            color="white"
          >{{formatDate(fin) }}</td>
        </template>
      </v-data-table>
    </v-app>
    <v-list-item-group tile class="d-flex flex-row">
      <h4>Prioridad</h4>
      <template v-for="(item, i) in items">
        <v-divider v-if="item.divider" :key="i"></v-divider>
        <v-list-item v-else :key="item.title">
          <v-list-item-action>
            <v-btn :color="getColor(item.icon)" tile></v-btn>
          </v-list-item-action>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </template>
    </v-list-item-group>


    <v-dialog v-model="modall" persistent max-width="600px">
      <v-card>
        <form>
          <v-toolbar cards flat>
            <v-card-title class="headline">Editar Pendiente</v-card-title>
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon @click="cancelarRegistor" color="#233E99">mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="8">
                  <v-text-field v-model="pendiente.nombre" label="Nombre del Pendiente*" required></v-text-field>
                </v-col>
                <v-col cols="12" sm="4">
                  <v-select
                    :items="empresa"
                    item-text="empresa"
                    item-value="empresa"
                    label="Empresa*"
                    v-model="pendiente.empresa"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="4">
                  <div></div>
                  <v-select
                    :items="areas"
                    item-text="area"
                    item-value="area"
                    v-model="pendiente.area"
                    label="Área*"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="4">
                  <v-autocomplete
                    :items="responsables"
                    item-text="responsable"
                    item-value="responsable"
                    label="Responsables*"
                    v-model="pendiente.responsables"
                    multiple
                    required
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="4">
                  <v-menu
                    ref="menu1"
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="computedDateFormatted"
                        label="Fecha de vencimiento"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="fechaFin" locale="es-PE" @input="menu1 = false"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    name="input-7-1"
                    label="Descripción"
                    v-model="pendiente.descripcion"
                  ></v-textarea>
                </v-col>

                <v-col cols="12" sm="6">
                  <v-select
                    :items="prioridad"
                    item-text="prioridad"
                    item-value="prioridad"
                    label="Prioridad*"
                    v-model="pendiente.prioridad"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-select
                    :items="urgencia"
                    item-text="urgencia"
                    item-value="urgencia"
                    label="Urgencia*"
                    v-model="pendiente.urgencia"
                    required
                  ></v-select>
                </v-col>

                <v-col cols="12" sm="6">
                  <v-select
                    :items="tema"
                    item-text="tencargo"
                    item-value="tencargo"
                    label="Temas de encargo*"
                    v-model="pendiente.temaEncargo"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="3">
                  <v-select
                    :items="canchas"
                    item-text="cancha"
                    item-value="cancha"
                    label="En cancha de:*"
                    v-model="pendiente.cancha"
                    required
                    @change="cambiarEnCancha"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="3" v-if="pendiente.cancha === 'Legal' || mostrarEnCancha === 'Legal'">
                  <v-select
                    :items="responsables"
                    item-text="nombre"
                    item-value="nombre"
                    label="A cargo de:*"
                    v-model="pendiente.areaGlobal"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="3" v-if="pendiente.cancha === 'Otras áreas' || mostrarEnCancha === 'Otras áreas'">
                  <v-select
                    :items="otros"
                    item-text="otros"
                    item-value="otros"
                    label="A cargo:*"
                    v-model="pendiente.areaGlobal"
                    required
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-select
                    :items="status"
                    @change="cambiarStatus"
                    item-text="status"
                    item-value="status"
                    label="Status*"
                    v-model="pendiente.status"
                    required
                  ></v-select>
                </v-col>
                <v-col v-if=" mostrarDedicacion" cols="12" sm="5">
                  <v-select
                    :items="dedicacion"
                    label="Dedicación*"
                    item-text="dedicacion"
                    item-value="dedicacion"
                    v-model="pendiente.dedicacion"
                    required
                  ></v-select>
                </v-col>
                <v-col v-if="mostrarDedicacion" cols="12" sm="1">
                  <v-tooltip v-model="show1" bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn icon v-bind="attrs" v-on="on">
                        <v-icon
                          class="icono-clip"
                          color="#233E99"
                          @click.prevent="archivarItem"
                        >mdi-attachment</v-icon>
                      </v-btn>
                    </template>
                    <span>Archivar</span>
                  </v-tooltip>
                </v-col>
              </v-row>
              <small>*Información requerida</small>
            </v-container>

            <v-row>
              <v-btn icon color="primary" dark @click.stop="dialogi = true">
                <v-icon color="#233E99">mdi-delete</v-icon>
              </v-btn>

              <v-dialog v-model="dialogi" max-width="290">
                <v-card>
                  <v-card-title class="headline">¿Desea eliminar este Pendiente?</v-card-title>

                  <v-card-text>Att. Inteligo Group</v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn color="blue darken-1" text @click="dialogi = false">Cancelar</v-btn>

                    <v-btn color="blue darken-1" text @click="deleteItem()">Aceptar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn type="submit" dark color="#233E99" @click.prevent="guardarRegistro">Modificar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
import { fs } from "@/plugins/firebase.js";
import firebase from "firebase";
import { mapState, mapActions } from "vuex";
import ModalCrear from "@/components/Pendientes/ModalCrear.vue";
import ModalModificar from "@/components/Pendientes/ModalModificar.vue";
export default {
  components: {
    ModalCrear,
    ModalModificar
  },
  data() {
    return {
      probararea: this.$store.state.areas,
      verModificar: false,
      dialog: false,
      vizualizar: false,
      expanded: [],
      width: 300,
      items: [
        { icon: "Crojo", title: "Alta" },
        { icon: "Bamarillo", title: "Media" },
        { icon: "Averde", title: "Baja" }
      ],
      titulos: [
        { text: "Prioridad", value: "colorprioridad" },
        { text: "Inicio", value: "inicio" },
        { text: "Pendiente", value: "nombre" },
        { text: "Descripción", value: "descripcion" },
        { text: "Empresa", value: "empresa" },
        { text: "Owner", value: "responsables" },
        { text: "Área", value: "area" },
        { text: "Deadline", value: "fin" },
        { text: "Acción", value: "actions" }
      ],
      modall: false,
      dialogi: false,
      type: null,
      elapse: null,
      show1: true,
      // pendiente: this.$store.state.pendiente,
      fechaFin: new Date().toISOString().substr(0, 10),
      menu1: false,
      name: "",
      modalCrear: false,
      pendienteToModificar: {},
      mostrarDedicacion: false,
      search: '',
      mostrarEnCancha: ''
    };
  },
  computed: {
    ...mapState([
      "pendientes",
      "arrPendientesFiltrados",
      "areas",
      "responsables",
      "empresa",
      "prioridad",
      "status",
      "urgencia",
      "tema",
      "canchas",
      "otros",
      "dedicacion"]),
    computedDateFormatted() {
      return this.formatDate(this.fechaFin);
    },
    pendiente: {
      get() {
        //console.log(this.$tore.state.pendiente,'tra todo pendiente')
        return {
          id: this.$store.state.pendiente.id,
          nombre: this.$store.state.pendiente.nombre,
          descripcion: this.$store.state.pendiente.descripcion,
          empresa: this.$store.state.pendiente.empresa,
          inicio: this.$store.state.pendiente.inicio,
          fin: this.$store.state.pendiente.fin,
          prioridad: this.$store.state.pendiente.prioridad,
          responsables: this.$store.state.pendiente.responsables,
          status: this.$store.state.pendiente.status,
          area: this.$store.state.pendiente.area,
          areaGlobal: this.$store.state.pendiente.areaGlobal,
          temaEncargo: this.$store.state.pendiente.temaEncargo,
          cancha: this.$store.state.pendiente.cancha,
          dedicacion: this.$store.state.pendiente.dedicacion,
          urgencia: this.$store.state.pendiente.urgencia
        };
      }
    }
  },
  mounted() {
    this.initialize();
    // this.setInfo();
    this.getPendientes();
    this.getArea();
    this.getResponsable();
    this.getEmpresa();
    this.getPrioridad();
    this.getUrgencia();
    this.getStatus();
    this.getTemaEncargo();
    this.getCancha();
    this.getOtros();
    this.getDedidacion();
    this.cambiarEnCancha();
  },
  methods: {
    ...mapActions([
      "getPendientes",
      "getArea",
      "getResponsable",
      "getEmpresa",
      "getPrioridad",
      "getUrgencia",
      "getStatus",
      "getTemaEncargo",
      "getCancha",
      "getOtros",
      "getDedidacion"
    ]),
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    initialize() {
      console.log("arrayFiltrado", this.arrPendientesFiltrados);
    },
    getColor(prioridad) {
      if (prioridad == "Crojo") return "red ";
      else if (prioridad == "Bamarillo") return "yellow accent-3";
      else return "green accent-4";
    },
    editItem(item) {
      this.editedItem = Object.assign({}, item);
      // this.dialog = true;
      // this.verModificar = true;
      this.$store.commit("setPendiente", item);
      setTimeout(() => {
        // this.$store.commit("setModal", true);
        this.modall = true
      }, 500);
    },
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    cambiarStatus() {
      if (this.pendiente.status === "Terminado") {
        this.mostrarDedicacion = true;
      } else {
        this.mostrarDedicacion = false;
      }
    },
    guardarRegistro() {
      // this.$store.commit("setModal", false);
      console.log(this.pendiente.prioridad);
      let colorpendiente = ''
      if (this.pendiente.prioridad === 'Alta') {
        colorpendiente = 'Crojo'
      }
      if (this.pendiente.prioridad === 'Media') {
        colorpendiente = 'Bamarillo'
      }
      if (this.pendiente.prioridad === 'Baja') {
        colorpendiente = 'Averde'
      }
      this.modall = false
      const docu = fs.collection("pendientes").doc(this.pendiente.id);
        docu
        .update({
          nombre: this.pendiente.nombre,
          descripcion: this.pendiente.descripcion,
          empresa: this.pendiente.empresa,
          inicio:  this.pendiente.inicio,
          fin: this.pendiente.fin,
          areaGlobal: this.pendiente.areaGlobal,
          area: this.pendiente.area,
          cancha: this.pendiente.cancha,
          dedicacion: this.pendiente.dedicacion,
          prioridad: this.pendiente.prioridad,
          status: this.pendiente.status,
          temaEncargo: this.pendiente.temaEncargo,
          urgencia: this.pendiente.urgencia,
          responsables: this.pendiente.responsables,
          colorprioridad: colorpendiente
        })
        .then(function() {
          console.log("Document successfully updated!");
          this.mostrarDedicacion = false;
        })
        .catch(function(error) {
          console.error("Error updating document: ", error);
        });
    },
    cancelarRegistor() {
      this.modall = false
      this.$store.commit("setModal", false);
      this.$store.commit('setPendiente', '')
    },
    deleteItem() {
      fs.collection("pendientes")
        .doc(this.pendiente.id)
        .delete();
      this.modall = false
      this.$store.commit("setModal", false);
      this.$store.commit('setPendiente', '')
    },
    archivarItem() {
      const index = this.pendientes.indexOf(this.pendiente);
      let descripcionPendiente = !this.pendiente.descripcion ? descripcionPendiente = '' : descripcionPendiente = this.pendiente.descripcion
      fs.collection("Archivados")
        .doc(this.pendiente.id)
        .set({
          id: this.pendiente.id,
          nombre: this.pendiente.nombre,
          descripcion: descripcionPendiente,
          area: this.pendiente.area,
          empresa: this.pendiente.empresa,
          fin: this.pendiente.fin,
          inicio: this.pendiente.inicio,
          areaGlobal: this.pendiente.areaGlobal,
          prioridad: this.pendiente.prioridad,
          responsables: this.pendiente.responsables,
          temaEncargo: this.pendiente.temaEncargo,
          status: this.pendiente.status,
          cancha: this.pendiente.cancha,
          dedicacion: this.pendiente.dedicacion,
          urgencia: this.pendiente.urgencia
        })
        .then((this.mostrarDedicacion = false));
      fs.collection("pendientes")
        .doc(this.pendiente.id)
        .delete();
      this.$store.commit("archivarPendiente", index);
      this.$store.commit("setModal", false);
      this.$store.commit('setPendiente', '')
      this.modall = false
    },
    cambiarEnCancha() {
      this.mostrarEnCancha = this.pendiente.cancha
    }
    // setInfo(data) {
    //   this.verModificar = data;
    // }
  }
};
</script>
<style lang="scss">
#app-tabla {
  margin: 0;
  background: transparent;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/planner-legal.appspot.com/o/background.png?alt=media&token=0a496bd0-c4c5-4c74-986a-eb9c9cc29c39);
  background-repeat: repeat;
  padding: 30px;
  }
#app-tabla .v-data-table {
  width: 100% !important;
}

#app-tabla .v-application--is-ltr .v-data-table th {
  text-align: center;
}
#app-tabla #btn-color {
  height: 100% !important;
  min-width: 9px;
  padding: 0px;
  margin-right: 0px;
  margin-left: -15px;
}
#app-tabla .colorInteligo {
  color: #233E99;
  font: bold;
}
#app-tabla thead tr:last-child th:nth-child(2) {
  display: none;
}
#app-tabla tbody tr td:nth-child(2) {
  display: none;
}
#app-tabla tbody tr td:nth-child(4) {
  width: 30%;
}
.cnt-search {
  background-color: #ffffff;
  padding: 0px 30%;
}
</style>