<template>
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="white" dark>
      <v-toolbar-title style="width: 600px" class="ml-0 pl-4">
        <span class="hidden-ml-and-down">
          <img
            class="img"
            src="https://firebasestorage.googleapis.com/v0/b/planner-legal.appspot.com/o/logo.png?alt=media&token=03cab387-fd69-4783-8801-5313c52510cd"
          />
        </span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click="cerrarSesion" color="#233E99" dark>Cerrar Sesión</v-btn>
    </v-app-bar>
</template>

<script>
export default {
  methods: {
    cerrarSesion() {
      this.$router.push("/");
    }
  }
}
</script>

<style>
.img {
  width: 40%;
}
</style>