<template >
<v-card>
  <v-tabs fluid
      background-color="#233E99"
      dark
      right
      tile
      >
      <v-tab nuxt to="/Pendientes" >
      <v-icon left >mdi-file-document-outline</v-icon>Pendientes</v-tab>
      <v-tab nuxt to="/Archivados" >
      <v-icon left class="icono-clip">mdi-attachment</v-icon>Archivados</v-tab>
      <v-tab nuxt to="/Reportes" >
      <v-icon left >mdi-poll</v-icon>Reportes</v-tab>
  </v-tabs>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    item: 0
  })
};
</script>
<style>
.container {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}
.v-list-item-group .v-list-item--active .v-list-item__content {
  border-bottom: 2px solid #ffffff;
}
</style>