<template>
  <v-container>
    <v-card-title class="font-weight-medium subtitle-1">
      <v-icon color="#31489B">mdi-filter-outline</v-icon>Filtra por: a
    </v-card-title>
    <v-divider></v-divider>
    <v-row>
      <v-col>
        <v-treeview v-model="selection" :items="items" selectable return-object></v-treeview>
      </v-col>
      <v-row>
        <v-divider></v-divider>
      </v-row>
    </v-row>
  </v-container>
</template>

<script>
import { fs } from "@/plugins/firebase.js";
import firebase from "firebase";
import { mapState, mapActions } from "vuex";

export default {
  data: () => ({
    arr: [],
    selectionType: "leaf",
    selection: [],
    arrayFiltrados: [],
    arrayFiltrado: [],
    arrayFiltrado2: [],
    arrayFiltrado3: [],
    arrayFiltrado4: [],
    arrayFiltrado5: [],
    arrayFiltrado6: [],
    arrayFiltrado7: [],
    arrayFiltrado8: [],
    arrayFiltrado9: [],
    arrayFiltrado10: [],
    arrayFiltrado11: [],
    arrayFiltrado12: [],
    arrayFiltrado13: [],
    arrayFiltrado14: [],
    arrayFiltrado16: [],
    arrayFiltrado17: [],
    arrayFiltrado18: [],
    arrayFiltrado19: [],
    arrayFiltrado20: [],
    arrayFiltrado21: [],
    arrayFiltrado22: [],
    arrayFiltrado23: [],
    arrayFiltrado24: [],
    arrayFiltrado25: [],
    arrayFiltrado26: [],
    arrayFiltrado27: [],
    items: [
      {
        id: 1,
        name: "Empresa",
        children: [
          { id: 2, name: "GROUP" },
          { id: 3, name: "SAB" },
          { id: 4, name: "BANK" },
          { id: 5, name: "USA" },
          { id: 6, name: "IPH" },
          { id: 7, name: "IF" }
        ]
      },
      {
        id: 8,
        name: "Responsable",
        children: [
              { id: 10, name: "Gianina Gotuzzo" },
              { id: 11, name: "Lady Arévalo" },
              { id: 12, name: "Franco Gratta" },
              { id: 13, name: "Practicante" },
              { id: 14, name: "Andrea Pérez" },
              { id: 15, name: "Oscar García" },
            ]
      },
      {
        id: 17,
        name: "Dedicación",
        children: [
          { id: 18, name: "Muy alta" },
          { id: 19, name: "Media" },
          { id: 20, name: "Encargo puntual" },
          { id: 21, name: "Alta" },
          { id: 22, name: "Baja" }
        ]
      },
      {
        id: 23,
        name: "Urgencia",
        children: [
          { id: 24, name: "Muy urgente" },
          { id: 25, name: "Urgente" },
          { id: 26, name: "Con plazo definido" },
          { id: 27, name: "No urgente" }
        ]
      }
    ]
  }),
  computed: {
    ...mapState(["archivos", "arrArchivosFiltrados", "responsables"])
  },
  created() {
    this.getArchivosFiltrados();
  },
  updated() {
    this.selection;
  },
  watch: {
    selection: function() {
      this.arr = [];
      this.arrayFiltrado = [];
      this.arrayFiltrados = [];
      if (this.selection != []) {
        
        this.selection.forEach(select => {
          setTimeout(() => {
            if (select.id <= 7) {
              this.getSelectionEmpresas(this.selection);
            }
            if (10 <= select.id && select.id <= 15) {
              this.getResponsable(this.selection);
            }
            // if (15 <= select.id && select.id <= 16) {
            //   this.getAreaOtros(this.selection);
            // }
            if (18 <= select.id && select.id <= 22) {
              this.getSelectionDedicacion(this.selection);
            }
            if (24 <= select.id && select.id <= 27) {
              this.getUrgencia(this.selection);
            }
          }, 300);
        });
      }
      if (this.selection.length === 0) {
          this.arr = []
          this.$store.commit("setArrArchivosFiltrados", this.arr);
          this.getArchivados();
      }
    }
  },
  methods: {
    ...mapActions(["getArchivosFiltrados"]),
    getArchivados() {
      fs.collection("Archivados").onSnapshot(docs => {
        const tareas = [];
        docs.forEach(e => {
          const elemento = { id: e.id, ...e.data() };
          tareas.push(elemento);
        });
        
        this.$store.commit("setArchivados", tareas);
      });
    },
    filtrar(name) {
      return this.archivos.filter(
        x =>
          x.empresa === name ||
          x.urgencia === name ||
          x.areaGlobal === name ||
          x.dedication === name ||
          x.responsables[0] === name ||
          x.responsables[1] === name ||
          x.responsables[2] === name ||
          x.responsables[3] === name
      );
    },
    borrarFiltro() {
      this.getArchivados();
      this.selection.length = 0;
    },
    filterEmpresas(name) {
      return this.arrArchivosFiltrados.filter(x => x.empresa === name);
    },
    filterDedication(name) {
      return this.arrArchivosFiltrados.filter(x => x.dedication === name);
    },
    filterGlobal(name) {
      return this.arrArchivosFiltrados.filter(x => x.areaGlobal === name);
    },
    filterUrgencia(name) {
      return this.arrArchivosFiltrados.filter(x => x.urgencia === name);
    },
    filterResponsable(name) {
      return this.arrArchivosFiltrados.filter(x => 
          x.responsables[0] === name ||
          x.responsables[1] === name ||
          x.responsables[2] === name ||
          x.responsables[3] === name);
    },
    async getSelectionEmpresas(select) {
      this.arrayFiltrado2 = [];
      this.arrayFiltrado3 = [];
      this.arrayFiltrado4 = [];
      this.arrayFiltrado5 = [];
      this.arrayFiltrado6 = [];
      this.arrayFiltrado7 = [];
      if (
        select[0].id === 2 ||
        select[0].id === 3 ||
        select[0].id === 4 ||
        select[0].id === 5 ||
        select[0].id === 6 ||
        select[0].id === 7
      ) {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 2:
              this.arrayFiltrado2 = this.filtrar(e.name);
              break;
            case 3:
              this.arrayFiltrado3 = this.filtrar(e.name);
              break;
            case 4:
              this.arrayFiltrado4 = this.filtrar(e.name);
              break;
            case 5:
              this.arrayFiltrado5 = this.filtrar(e.name);
              break;
            case 6:
              this.arrayFiltrado6 = this.filtrar(e.name);
              break;
            case 7:
              this.arrayFiltrado7 = this.filtrar(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado2,
            this.arrayFiltrado3,
            this.arrayFiltrado4,
            this.arrayFiltrado5,
            this.arrayFiltrado7
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      } else {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 2:
              this.arrayFiltrado2 = this.filterEmpresas(e.name);
              break;
            case 3:
              this.arrayFiltrado3 = this.filterEmpresas(e.name);
              break;
            case 4:
              this.arrayFiltrado4 = this.filterEmpresas(e.name);
              break;
            case 5:
              this.arrayFiltrado5 = this.filterEmpresas(e.name);
              break;
            case 6:
              this.arrayFiltrado6 = this.filterEmpresas(e.name);
              break;
            case 7:
              this.arrayFiltrado7 = this.filterEmpresas(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado2,
            this.arrayFiltrado3,
            this.arrayFiltrado4,
            this.arrayFiltrado5,
            this.arrayFiltrado7
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      }
      this.arrayFiltrados.forEach(e => {
        if (e != undefined) {
          this.arr.push(e);
        }
      });
      
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      } else {
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      }
    },
    async getSelectionDedicacion(select) {
      this.arrayFiltrado18 = [];
      this.arrayFiltrado19 = [];
      this.arrayFiltrado20 = [];
      this.arrayFiltrado21 = [];
      this.arrayFiltrado22 = [];
      if (select[0].id === 18 || select[0].id === 19 || select[0].id === 20 || select[0].id === 21 || select[0].id === 22) {
        
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];

          switch (e.id) {
            case 18:
              this.arrayFiltrado18 = this.filtrar(e.name);
              break;
            case 19:
              this.arrayFiltrado19 = this.filtrar(e.name);
              break;
            case 20:
              this.arrayFiltrado20 = this.filtrar(e.name);
              break;
            case 21:
              this.arrayFiltrado21 = this.filtrar(e.name);
              break;
            case 22:
              this.arrayFiltrado22 = this.filtrar(e.name);
              break;
          }

          this.arrayFiltrado = [
            this.arrayFiltrado18,
            this.arrayFiltrado19,
            this.arrayFiltrado20,
            this.arrayFiltrado21,
            this.arrayFiltrado22
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      } else {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];

          switch (e.id) {
            case 18:
              this.arrayFiltrado18 = this.filterDedication(e.name);
              break;
            case 19:
              this.arrayFiltrado19 = this.filterDedication(e.name);
              break;
            case 20:
              this.arrayFiltrado20 = this.filterDedication(e.name);
              break;
            case 21:
              this.arrayFiltrado21 = this.filterDedication(e.name);
              break;
            case 22:
              this.arrayFiltrado22 = this.filterDedication(e.name);
              break;
          }

          this.arrayFiltrado = [
            this.arrayFiltrado18,
            this.arrayFiltrado19,
            this.arrayFiltrado20,
            this.arrayFiltrado21,
            this.arrayFiltrado22
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      }
      this.arrayFiltrados.forEach(e => {
        if (e != undefined) {
          this.arr.push(e);
        }
      });
      
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      } else {
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      }

    },
    async getAreaLegal(select) {
      this.arrayFiltrado10 = [];
      this.arrayFiltrado11 = [];
      this.arrayFiltrado12 = [];
      this.arrayFiltrado13 = [];
      if (
        select[0].id === 10 ||
        select[0].id === 11 ||
        select[0].id === 12 ||
        select[0].id === 13
      ) {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 10:
              this.arrayFiltrado10 = this.filtrar(e.name);
              break;
            case 11:
              this.arrayFiltrado11 = this.filtrar(e.name);
              break;
            case 12:
              this.arrayFiltrado12 = this.filtrar(e.name);
              break;
            case 13:
              this.arrayFiltrado13 = this.filtrar(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado10,
            this.arrayFiltrado11,
            this.arrayFiltrado12,
            this.arrayFiltrado13
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      } else {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 10:
              this.arrayFiltrado10 = this.filterGlobal(e.name);
              break;
            case 11:
              this.arrayFiltrado11 = this.filterGlobal(e.name);
              break;
            case 12:
              this.arrayFiltrado12 = this.filterGlobal(e.name);
              break;
            case 13:
              this.arrayFiltrado13 = this.filterGlobal(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado10,
            this.arrayFiltrado11,
            this.arrayFiltrado12,
            this.arrayFiltrado13
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      }
      this.arrayFiltrados.forEach(e => {
        if (e != undefined) {
          this.arr.push(e);
        }
      });
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      } else {
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      }
    },
    async getAreaOtros(select) {
      this.arrayFiltrado15 = [];
      this.arrayFiltrado16 = [];
      if (select[0].id === 15 || select[0].id === 16) {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 15:
              this.arrayFiltrado15 = this.filtrar(e.name);
              break;
            case 16:
              this.arrayFiltrado16 = this.filtrar(e.name);
              break;
          }
          this.arrayFiltrado = [this.arrayFiltrado15, this.arrayFiltrado16];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });

        this.arrayFiltrados.forEach(e => {
          if (e != undefined) {
            this.arr.push(e);
          }
        });
      } else {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 15:
              this.arrayFiltrado15 = this.filterGlobal(e.name);
              break;
            case 16:
              this.arrayFiltrado16 = this.filterGlobal(e.name);
              break;
          }
          this.arrayFiltrado = [this.arrayFiltrado15, this.arrayFiltrado16];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });

        this.arrayFiltrados.forEach(e => {
          if (e != undefined) {
            this.arr.push(e);
          }
        });
      }
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      } else {
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      }
    },
    async getUrgencia(select) {
      this.arrayFiltrado24 = [];
      this.arrayFiltrado25 = [];
      this.arrayFiltrado26 = [];
      this.arrayFiltrado27 = [];
      if (
        select[0].id === 24 ||
        select[0].id === 25 ||
        select[0].id === 26 ||
        select[0].id === 27
      ) {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 22:
              this.arrayFiltrado24 = this.filtrar(e.name);
              break;
            case 23:
              this.arrayFiltrado25 = this.filtrar(e.name);
              break;
            case 24:
              this.arrayFiltrado26 = this.filtrar(e.name);
              break;
            case 25:
              this.arrayFiltrado27 = this.filtrar(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado24,
            this.arrayFiltrado25,
            this.arrayFiltrado26,
            this.arrayFiltrado27
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      } else {
        await select.forEach(e => {
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 22:
              this.arrayFiltrado24 = this.filterUrgencia(e.name);
              break;
            case 23:
              this.arrayFiltrado25 = this.filterUrgencia(e.name);
              break;
            case 24:
              this.arrayFiltrado26 = this.filterUrgencia(e.name);
              break;
            case 25:
              this.arrayFiltrado27 = this.filterUrgencia(e.name);
              break;
          }
          this.arrayFiltrado = [
            this.arrayFiltrado24,
            this.arrayFiltrado25,
            this.arrayFiltrado26,
            this.arrayFiltrado27
          ];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      }
      this.arrayFiltrados.forEach(e => {
        if (e != undefined) {
          this.arr.push(e);
        }
      });
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      } else {
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      }
    },
    async getResponsable(select) {
      
      this.arrayFiltrado10 =  []
      this.arrayFiltrado11 =  []
      this.arrayFiltrado12 =  []
      this.arrayFiltrado13 =  []
      this.arrayFiltrado14 =  []
      this.arrayFiltrado15 =  []
      
      if (
        select[0].id === 10 ||
        select[0].id === 11 ||
        select[0].id === 12 ||
        select[0].id === 13 ||
        select[0].id === 14 ||
        select[0].id === 15 ) {
        await select.forEach(e => {
          let responsableIni = this.getInicialesResponsable(e.name)
          
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 10:
              this.arrayFiltrado10 = this.filtrar(responsableIni);
              break;
            case 11:
              this.arrayFiltrado11 = this.filtrar(responsableIni);
              break;
            case 12:
              this.arrayFiltrado12 = this.filtrar(responsableIni);
              break;
            case 13:
              this.arrayFiltrado13 = this.filtrar(responsableIni);
              break;
            case 14:
              this.arrayFiltrado14 = this.filtrar(responsableIni);
              break;
            case 15:
              this.arrayFiltrado15 = this.filtrar(responsableIni);
              break;
          }
          this.arrayFiltrado = [this.arrayFiltrado10, this.arrayFiltrado11, this.arrayFiltrado12, this.arrayFiltrado13, this.arrayFiltrado14, this.arrayFiltrado15];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });

        this.arrayFiltrados.forEach(e => {
          if (e != undefined) {
            this.arr.push(e);
          }
        });
      } else {
        await select.forEach(e => {
          // let responsableIni = this.getInicialesResponsable(e.name)
          this.arr = [];
          this.arrayFiltrados = [];
          switch (e.id) {
            case 10:
              this.arrayFiltrado10 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
            case 11:
              this.arrayFiltrado11 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
            case 12:
              this.arrayFiltrado12 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
            case 13:
              this.arrayFiltrado13 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
            case 14:
              this.arrayFiltrado14 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
            case 15:
              this.arrayFiltrado15 = this.filterResponsable(this.getInicialesResponsable(e.name));
              break;
          }
          this.arrayFiltrado = [this.arrayFiltrado10, this.arrayFiltrado11, this.arrayFiltrado12, this.arrayFiltrado13, this.arrayFiltrado14, this.arrayFiltrado15];
          this.arrayFiltrados = this.arrayFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });

        this.arrayFiltrados.forEach(e => {
          if (e != undefined) {
            this.arr.push(e);
          }
        });
      }
      if (this.arr.length === 0) {
        this.arr = [{}]
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      } else {
        this.$store.commit("setArrArchivosFiltrados", this.arr);
      }
    },
    getInicialesResponsable(nombre) {
      const responsable = this.responsables.filter((x)=> x.nombre === nombre)
      return responsable[0].responsable
    }
  }
};
</script>

