<template>
  <div id="app">
    <div class="cnt-search">
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
    </div>
    <v-app id="inspire" v-show="arrArchivosFiltrados.length===0">
      <v-data-table :search="search" :headers="titulos" :items="archivados" item-key="id" class="elevation-1">
        <template v-slot:item.dedicacion="{ item }">
          <v-card-actions>
            <v-btn dark class="btn-color" :color="getColorDedicacion(item.dedicacion)" :length="1"><v-icon>mdi-arm-flex</v-icon></v-btn>
          </v-card-actions>
        </template>
        <template v-slot:item.responsables="{ item }">
          <v-card-actions>
            <v-avatar
              v-for="(responsable,index) in Array(item.responsables).flat()"
              :key="index"
              color="#233E99"
              size="36"
            >
              <span class="white--text">{{responsable }}</span>
            </v-avatar>
          </v-card-actions>
        </template>
        <template v-slot:item.fin="{ item }">
          <td
            v-for="(fin,index) in Array(item.fin).flat()"
            :key="index"
            color="white"
          >{{formatDate(fin) }}</td>
        </template>
      </v-data-table>
     <v-list-item-group class="d-flex flex-row">
       <h4>Dedicación</h4>
        <template v-for="(item, i) in items">
          <v-divider v-if="item.divider" :key="i"></v-divider>
          <v-list-item v-else :key="item.title">
              <v-btn dark class="btn-color" :color="getColorDedicacion(item.icon)"><v-icon>mdi-arm-flex</v-icon></v-btn>
            <p class="text-sm-center">{{ item.title }}</p>
          </v-list-item>
        </template>
      </v-list-item-group>
    </v-app>
    <v-app id="inspire" v-show="arrArchivosFiltrados.length != 0">
      <v-data-table :headers="titulos" :items="arrArchivosFiltrados" item-key="id" class="elevation-1">
        <template v-slot:item.dedicacion="{ item }">
          <v-card-actions>
            <v-btn dark class="btn-color" :color="getColorDedicacion(item.dedicacion)" :length="1"><v-icon>mdi-arm-flex</v-icon></v-btn>
          </v-card-actions>
        </template>
        <template v-slot:item.responsables="{ item }">
          <v-card-actions>
            <v-avatar
              v-for="(responsable,index) in Array(item.responsables).flat()"
              :key="index"
              color="#233E99"
              size="36"
            >
              <span class="white--text">{{responsable }}</span>
            </v-avatar>
          </v-card-actions>
        </template>
        <template v-slot:item.fin="{ item }">
          <td
            v-for="(fin,index) in Array(item.fin).flat()"
            :key="index"
            color="white"
          >{{formatDate(fin) }}</td>
        </template>
      </v-data-table>
     <v-list-item-group class="d-flex flex-row">
        <template v-for="(item, i) in items">
          <v-divider v-if="item.divider" :key="i"></v-divider>
          <v-list-item v-else :key="item.title">
              <v-btn depressed class="btn-color" :color="getColorDedicacion(item.icon)"></v-btn>
            <p class="font-italic text-sm-center text--disabled">{{ item.title }}</p>
          </v-list-item>
        </template>
      </v-list-item-group>
    </v-app>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { fs } from "@/plugins/firebase.js";
import firebase from "firebase";
export default {
  data() {
    return {
      loader: true,
      items: [
        { icon: "Muy alta", title: "Muy alta" },
        { icon: "Alta", title: "Alta" },
        { icon: "Media", title: "Media" },
        { icon: "Baja", title: "Baja" },
        { icon: "Encargo puntual", title: "Encargo puntual" }
      ],
      titulos: [
        {
          text: "",
          align: "start",
          sortable: false,
          value: "name"
        },
        { text: "Dedicación", value: "dedicacion" },
        { text: "Pendiente", value: "nombre" },
        { text: "Descripción", value: "descripcion" },
        { text: "Empresa", value: "empresa" },
        { text: "Owner", value: "responsables" },
        { text: "Área", value: "area" },
        { text: "Deadline", value: "fin" }
      ],
      archivados: [],
      expanded: [],
      search: '',
    };
  },
  created() {
    this.inicio();
    this.getArchivos();
  },
  mounted() {
    fs.collection("Archivados").onSnapshot(docs => {
      const tareas = [];
      docs.forEach(e => {
        const elemento = { id: e.id, ...e.data() };
        tareas.push(elemento);
      });
      this.archivados = tareas;
      this.loader = false;
    });
  },
  computed: {
    ...mapState(["archivos", "arrArchivosFiltrados"])
  },
  methods: {
    ...mapActions(["getArchivos"]),
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    deleteItem(item) {
      const index = this.archivados.indexOf(item.id);
      console.log("item", item);
      fs.collection("Archivados")
        .doc(item.id)
        .set({
          id: item.id,
          nombre: item.nombre,
          descripcion: item.descripcion,
          area: item.area,
          empresa: item.empresa,
          inicio: item.inicio,
          fin: item.fin,
          prioridad: item.prioridad,
          responsables: item.responsables,
          status: item.status,
          temaEncargo:item.temaEncargo,
          urgencia: item.urgencia ,
          dedicacion:item.dedicacion
        });
      fs.collection("Archivados")
        .doc(item.id)
        .delete();
      this.archivados.splice(index, 1);
    },
    getColorDedicacion(dedicacion) {
      if (dedicacion == "Muy alta") return "indigo darken-4";
      else if (dedicacion == "Alta") return "blue darken-4";
      else if (dedicacion == "Media") return "blue darken-1";
      else if (dedicacion == "Baja") return "blue lighten-2";
      else return "blue lighten-4";
    },
    inicio() {
      console.log(this.archivos, "holas");
      console.log(this.arrArchivosFiltrados, "holasaaaaa");
    }
  }
};
</script>
<style lang="scss" scoped>
#app{
  margin: 0;
  background: transparent;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/planner-legal.appspot.com/o/background.png?alt=media&token=0a496bd0-c4c5-4c74-986a-eb9c9cc29c39);
  background-repeat: repeat;
  padding: 30px;
  }
.v-btn:not(.v-btn--round).v-size--default {
    height: 36px;
    min-width: 36px;
}
.v-application--is-ltr .v-data-table th {
  text-align: center;
}

</style>