<template>
  <v-app>
    <v-content>
      <Header />
      <div>
        <Nav />
      </div>
      <div>
        <nuxt />
      </div>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import Header from "@/components/Header.vue";
import Nav from "@/components/Nav.vue";
export default {
  components: {
    Header,
    Nav
  },
  data() {
    return {
      clipped: false,

      fixed: false,

      right: true,
      rightDrawer: false,
      title: "Hackaton Legal"
    };
  }
};
</script>
