<template>
  <signin />
</template>

<script>
//aca
import signin from "@/components/Login/sign-in.vue";
//

export default {
  components: {
    signin
  },
  layout: "SingIn",
  create() {
    this.$store.dispatch("getPendientes");
    this.$store.dispatch("getArchivos");
    this.$store.dispatch("getPendientesFiltrados");
  }
};
</script>
