<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col cols="12" sm="2" class="opciones-filtrar">
          <filtrosaptos />
        </v-col>
        <v-col cols="12" sm="10" class="pNone">
          <Tabla style="width:100%" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// import opciones from "./_opciones";

import filtros from "@/components/Pendientes/FiltrosPendientes.vue";
import Tabla from "@/components/Pendientes/TablaPendientes.vue";
import filtrosaptos from "@/components/Pendientes/filtrado.vue";
import { mapState, mapActions } from "vuex";

export default {
  props: {
    source: String
  },
  components: {
    Tabla,
    filtros,
    filtrosaptos
  },

  computed: {
    /*variable() {
      console.log(this.sinLeer.length);
      return this.sinLeer.length.toString();
    }
    */
  },
  data: () => ({
    drawer: true,
    items: [
      {
        id: 1,
        name: "Urgencia",
        children: [
          { id: 2, name: "Muy Urgente" },
          { id: 3, name: "Urgente" },
          { id: 4, name: "Plazo definido" },
          { id: 5, name: "No Urgente" }
        ]
      },
      {
        id: 6,
        name: "Dedicación",
        children: [
          { id: 7, name: "Muy Alta" },
          { id: 8, name: "Alta" },
          { id: 9, name: "Media" },
          { id: 10, name: "Baja" },
          { id: 11, name: "Encargo puntual" }
        ]
      },
      {
        id: 12,
        name: "Status",
        children: [
          { id: 13, name: "Pendientes" },
          { id: 14, name: "Stand By" },
          { id: 15, name: "Terminado" }
        ]
      },
      {
        id: 16,
        name: "En cancha de",
        children: [
          { id: 17, name: "Legal" },
          { id: 18, name: "Otras áreas" },
          { id: 19, name: "Asesor Exterior" }
        ]
      },
      {
        id: 20,
        name: "Empresa",
        children: [
          { id: 21, name: "Group" },
          { id: 22, name: "SAB" },
          { id: 23, name: "Bank" },
          { id: 24, name: "USA" },
          { id: 25, name: "IPH" },
          { id: 26, name: "Interfondos" }
        ]
      }
    ]
  }),
  computed: {
    ...mapState(["pendientes", "mostrarfiltros", "sinLeer"]),
    filterPrioridad: () => {
      return this.pendientes.filter(item => item.nombre.includes(this.nombre));
    }
  },
  created() {
    this.$store.dispatch("getPendientes");
    this.$store.dispatch("getArchivos");
    this.$store.dispatch("getPendientesFiltrados");
    /* this.filtrar() */
  },
  methods: {
    cerrarSesion() {
      this.$router.push("/"); 
    }
  }
};
</script>
<style  lang="scss" scoped>
.img {
  width: 140px;
  height: 40px;
}
.tabs {
  display: flex;
  justify-content: right;
}
button {
  float: left;
  border: none;
  outline: none;
  height: 60px;
  width: 150px;
  transition: 0.3s;
  font-size: 20px;
  text-decoration-style: none;
  :hover {
    color: #233E99 !important;
    border-bottom: 4px solid #233E99;
    cursor: pointer;
  }
}
.container-space {
  margin: 0;
  padding: 0;
}
.pNone {
  padding: 0px !important;
}
.opciones-filtrar {
  background: #ffffff;
}
</style>
