<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="800">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          center
          color="#A29999"
          dark
          v-bind="attrs"
          v-on="on"
          style="margin:10px;"
        >EXPORTAR DATA</v-btn>
      </template>
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>DATA</v-card-title>

        <v-card-text>
          <ejs-grid
            ref="grid"
            id="Grid"
            :dataSource="arrArchFiltradosRepor"
            :toolbar="toolbarOptions"
            height="272px"
            :allowExcelExport="true"
            :toolbarClick="toolbarClick"
            :pageSettings = pageSettings
          >
            <e-columns>
              <e-column field="empresa" headerText="Empresa" width="120"></e-column>
              <e-column field="nombre" headerText="Nombre" width="150"></e-column>
              <e-column field="descripcion" headerText="Descripción" width="150"></e-column>
              <e-column field="dedicacion" headerText="Dedicación" width="150"></e-column>
              <e-column field="prioridad" headerText="Prioridad" width="150"></e-column>
              <e-column field="responsables" headerText="Responsables" width="150"></e-column>
              <e-column field="temaEncargo" headerText="Tema de Encargo" width="150"></e-column>
              <e-column field="urgencia" headerText="Urgencia" width="150"></e-column>
              <e-column field="area" headerText="Area" width="150"></e-column>
              <e-column field="fin" headerText="Fecha fin" width="150"></e-column>
              <e-column field="inicio" headerText="Fecha inicio" width="150"></e-column>
            </e-columns>
          </ejs-grid>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Vue from 'vue';
import { GridPlugin, Page, Toolbar, ExcelExport } from '@syncfusion/ej2-vue-grids';
import "@syncfusion/ej2-vue-grids/styles/material.css";
import { mapState, mapActions } from "vuex";
Vue.use(GridPlugin);
export default {
  data() {
    return {
      dialog: false,
      pageSettings: {pageSize:6},
      toolbarOptions: ["ExcelExport"],
      dataGeneral: []
    };
  },
  computed:{
    ...mapState(['arrArchFiltradosRepor', 'dataModal'])
  },
  // mounted(){
  //   console.log('Inicialization')
  //   this.Inicialization()
  // },
  methods: {
    toolbarClick: function(args) {
      if (args.item.id === "Grid_excelexport") {
        // 'Grid_excelexport' -> Grid component id + _ + toolbar item name
        this.$refs.grid.excelExport();
      }
    },
    Inicialization(){
      this.dataGeneral = [];
      console.log(this.arrArchFiltradosRepor, 'aquiiiii');
      this.arrArchFiltradosRepor.forEach(a => {
        console.log('fecha fin',a.fin)
        console.log('fecha inicio',a.inicio)
        console.log(new Date(a.inicio))
        const dataReport = {
          area: a.area,
          cancha: a.cancha,
          dedicacion: a.dedicacion,
          descripcion: a.descripcion,
          empresa: a.empresa,
          fin: this.dayOfOrder(a.fin),
          inicio: this.dayOfOrder(a.inicio),
          id: a.id,
          nombre: a.nombre,
          prioridad: a.prioridad,
          responsables: a.responsables,
          temaEncargo: a.temaEncargo,
          urgencia: a.urgencia
        };
        this.dataGeneral.push(dataReport);
      });
      // this.$store.commit("setCambiosModal", this.dataGeneral);
    },
    dayOfOrder(fecha){
      const date = new Date(fecha);
      const day = date.getDate();
      const month = date.getMonth() + 1;
      const year = date.getFullYear();
      const dayOfOrder = `${day}/${month}/${year}`;
      return dayOfOrder; 
    },
  },
  provide: {
    grid: [Page, Toolbar, ExcelExport]
  }
};
</script>