<template >
  <div class="reportes-content">
      <v-card color="basil">
        <v-tabs v-model="tab" background-color="transparent" color="#233E99" class="tab-reportes">
          <v-tab v-for="item in items" :key="item">{{ item }}</v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <RepPendientes />
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <RepArchivados />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
  </div>
</template>

<script>
import RepPendientes from "@/components/Reportes/RepPendientes.vue";
import RepArchivados from "@/components/Reportes/RepArchivados.vue";
export default {
  data: () => ({
    item: 0,
    tab: null,
    items: ["Pendiente", "Archivados"]
  }),
  components: {
    RepPendientes,
    RepArchivados
  }
};
</script>
<style scoped>
.basil {
  background-color: #ffffff !important;
}
.basil--text {
  color: #233E99 !important;
}
.reportes-content {
  margin: 0;
  background: transparent;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/planner-legal.appspot.com/o/background.png?alt=media&token=0a496bd0-c4c5-4c74-986a-eb9c9cc29c39);
  background-repeat: repeat;
  padding: 30px;
}
.tab-reportes .v-tabs-slider-wrapper {
  width: 100% !important;
}
</style>