<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="2">
        <v-menu
          ref="show_start_date"
          v-model="show_start_date"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field v-model="computedDateFormatted" label="DESDE" v-on="on"></v-text-field>
          </template>
          <v-date-picker v-model="startDate" locale="es-PE" @input="show_start_date = false"></v-date-picker>
        </v-menu>
        <v-menu
          ref="show_end_date"
          v-model="show_end_date"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field v-model="computedDateFormatted1" label="HASTA" v-on="on"></v-text-field>
          </template>
          <v-date-picker v-model="endDate" locale="es-PE" @input="show_end_date= false"></v-date-picker>
        </v-menu>
        <v-select
          v-model="selectedEmpresa"
          :items="empresa"
          item-text="empresa"
          item-value="empresa"
          @change="seleccionarEmpresa"
          label="Empresas"
          multiple
          chips
          required
        >
          <template v-slot:prepend-item>
            <v-list-item ripple @click="toggleEmpresa">
              <v-list-item-action>
                <v-icon :color="selectedEmpresa > 0 ? 'indigo' : ''">{{ icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Selecciona todas</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider class="mt-2"></v-divider>
          </template>
        </v-select>
        <h3 style="margin:10px;">Categoría:</h3>
        <v-radio-group v-model="radioGroup" @change="seleccionarTipoFiltro">
          <v-radio label="Área" value="area"></v-radio>
          <v-radio label="Tema de Encargo" value="temaEncargo"></v-radio>
          <v-radio label="Urgencia" value="urgencia"></v-radio>
          <v-radio label="Responsable" value="responsable"></v-radio>
          <v-radio label="Dedicación" value="dedicacion"></v-radio>
        </v-radio-group>
      </v-col>
      <v-col cols="12" sm="1">
        <v-btn center dark color="#31489B" @click="reports" style="margin:10px;">CREAR GRÁFICO</v-btn>
        <Modal/>
      </v-col>
      <v-col cols="12" sm="9">
        <div v-if="showGraficoDoughnut">
          <ChartDoughnut />
        </div>
        <div v-if="showGraficoBar">
          <BarChart />
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import ChartDoughnut from "@/components/Reportes/chart-doughnut-archivo.vue";
import  BarChart from "@/components/Reportes/chart-Bar-Archivados.vue";
import { fs } from "@/plugins/firebase.js";
import firebase from "firebase";
import { mapState, mapActions } from "vuex";
import Modal from "@/components/Reportes/Modal-Archivados.vue";

export default {
  components: {
    ChartDoughnut,
    BarChart,
    Modal
  },
  data() {
    return {
      radioGroup: "",
      showGraficoDoughnut: false,
      showGraficoBar: false,
      dateInicio: 0,
      dateFin: 0,
      array: [],
      finFiltrado: [],
      arrayPenFiltrado: [],
      arrayPenFiltrados: [],
      startDate: new Date().toISOString().substr(0, 10),
      arrRepor: [],
      endDate: new Date().toISOString().substr(0, 10),
      show_start_date: false,
      start_date: null,
      show_end_date: false,
      end_date: null,
      search: "",
      arrPendientesReportes: [],
      pendiente: {},
      selectedEmpresa: [],
      selection: [],
      items: [
        {
          id: 1,
          name: "Áreas"
        },
        {
          id: 2,
          name: "Tema de encargo"
        },
        {
          id: 3,
          name: "Dedicación"
        },
        {
          id: 4,
          name: "Urgencia"
        },
        {
          id: 5,
          name: "Importancia"
        }
      ]
    };
  },
  created() {
    this.getArchivos();
    this.getEmpresa();
  },
  mounted() {
    this.inicializacion();
  },
  computed: {
    ...mapState([
      "archivos",
      "empresa",
      "urgencia",
      "tema",
      "otros",
      "arrArchFiltradosRepor",
      "tipoFiltrado"
    ]),
    computedDateFormatted() {
      // formDate  /*
      return this.formatDate(this.startDate);
    },
    computedDateFormatted1() {
      return this.formatDate(this.endDate);
    },
    // ***/
    likesAllEmpresa() {
      // console.log(this.selectedEmpresa, "uno");
      return this.selectedEmpresa.length === this.empresa.length;
    },
    likesSomeEmpresa() {
      // console.log(this.selectedEmpresa, "dos");
      return this.selectedEmpresa.length > 0 && !this.likesAllEmpresa;
    },
    icon() {
      if (this.likesAllEmpresa) return "mdi-close-box";
      if (this.likesSomeEmpresa) return "mdi-minus-box";
      return "mdi-checkbox-blank-outline";
    }
  },
  methods: {
    ...mapActions(["getArchivos", "getEmpresa"]),
    filtrar(name) {
      return this.arrRepor.filter(
        x =>
          x.empresa === name ||
          x.urgencia === name ||
          x.area === name ||
          x.temaEncargo === name ||
          x.responsables[0] === name ||
          x.responsables[1] === name ||
          x.responsables[2] === name ||
          x.responsables[3] === name
      );
    },
    filtrarEmpresa(name) {
      return this.arrArchFiltradosRepor.filter(x => x.empresa === name);
    },
    filtrarArea(name) {
      return this.arrArchFiltradosRepor.filter(x => x.area === name);
    },
    filtrarTema(name) {
      return this.arrArchFiltradosRepor.filter(x => x.temaEncargo === name);
    },
    filtrarUrgencia(name) {
      return this.arrArchFiltradosRepor.filter(x => x.urgencia === name);
    },
    filtrarResponsables(name) {
      return this.arrArchFiltradosRepor.filter(
        x =>
          x.responsables[0] === name ||
          x.responsables[1] === name ||
          x.responsables[2] === name ||
          x.responsables[3] === name
      );
    },
    async seleccionarEmpresa() {
      this.showGraficoDoughnut= false,
      this.showGraficoBar= false,
      this.radioGroup = "";
      this.dateInicio = new Date(this.startDate).getTime();
      this.dateFin = new Date(this.endDate).getTime();
      this.arrGroup = [];
      this.arrSab = [];
      this.arrBank = [];
      this.arrUsa = [];
      this.arrIph = [];
      this.arrIf = [];
      console.log(this.arrArchFiltradosRepor, "hey");
      if (this.selectedEmpresa.length === 0) {
        /* this.$router.push('/Reportes') */
        this.array = [];
        this.arrayPenFiltrados = [];
      } else if (this.selectedEmpresa.length != 0) {
        await this.selectedEmpresa.forEach(name => {
          this.array = [];
          this.arrayPenFiltrados = [];
          // console.log(name);
          switch (name) {
            case "GROUP":
              this.arrGroup = this.filtrar("GROUP");
              break;
            case "SAB":
              this.arrSab = this.filtrar("SAB");
              break;
            case "BANK":
              this.arrBank = this.filtrar("BANK");
              break;
            case "USA":
              this.arrUsa = this.filtrar("USA");
              break;
            case "IPH":
              this.arrIph = this.filtrar("IPH");
              break;
            case "IF":
              this.arrIf = this.filtrar("IF");
              break;
          }
          this.arrayPenFiltrado = [
            this.arrGroup,
            this.arrSab,
            this.arrBank,
            this.arrUsa,
            this.arrIph,
            this.arrIf
          ];
          console.log("arrayPenFiltrado", this.arrayPenFiltrado);
          this.arrayPenFiltrados = this.arrayPenFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      } else {
        await this.selectedEmpresa.forEach(name => {
          // console.log(name);
          this.array = [];
          this.arrayPenFiltrados = [];
          switch (name) {
            case "GROUP":
              this.arrGroup = this.filtrarEmpresa("GROUP");
              break;
            case "SAB":
              this.arrSab = this.filtrarEmpresa("SAB");
              break;
            case "BANK":
              this.arrBank = this.filtrarEmpresa("BANK");
              break;
            case "USA":
              this.arrUsa = this.filtrarEmpresa("USA");
              break;
            case "IPH":
              this.arrIph = this.filtrarEmpresa("IPH");
              break;
            case "IF":
              this.arrIf = this.filtrarEmpresa("IF");
              break;
          }
          this.arrayPenFiltrado = [
            this.arrGroup,
            this.arrSab,
            this.arrBank,
            this.arrUsa,
            this.arrIph,
            this.arrIf
          ];
          console.log("arrayPenFiltrado", this.arrayPenFiltrado);
          this.arrayPenFiltrados = this.arrayPenFiltrado.reduce(
            (acc, el) => acc.concat(el),
            []
          );
        });
      }
      this.arrayPenFiltrados.forEach(e => {
        if (e != undefined) {
          this.array.push(e);
        }
      });
      this.finFiltrado = this.array.filter(
        a => a.inicio >= this.dateInicio && a.inicio <= this.dateFin
      );
      console.log("this.finfiltrado", this.finFiltrado);

      this.$store.commit("setArrArchivosFiltradosRepor", this.finFiltrado);
      this.$store.commit("setTipoFiltrado", 0);
    },
    inicializacion() {
      this.arrRepor = [];
      console.log(this.archivos);
      this.archivos.forEach(item => {
        const dataReport = {
          area: item.area,
          cancha: item.cancha,
          dedicacion: item.dedicacion,
          descripcion: item.descripcion,
          empresa: item.empresa,
          fin: new Date(item.fin).getTime(),
          inicio: item.inicio,
          id: item.id,
          nombre: item.nombre,
          prioridad: item.prioridad,
          responsables: item.responsables,
          temaEncargo: item.temaEncargo,
          urgencia: item.urgencia
        };
        this.arrRepor.push(dataReport);
      });
      console.log(this.arrRepor);
    },
    reports() {
      this.arraygeneraltotal = [];
      this.arrGeneralSinFiltro = [];
      console.log("entro", this.arrArchFiltradosRepor);
      if (this.selectedEmpresa.length <= 1 && this.radioGroup != "") {
        console.log("entro aquii 1");
        this.showGraficoDoughnut= true
        this.showGraficoBar= false
      } else if (this.selectedEmpresa.length != 1 && this.radioGroup === ""){
        console.log("entro aquii 2");
        this.showGraficoDoughnut= true
        this.showGraficoBar= false
      } else {
        console.log("entro aquii 3");
        this.showGraficoBar= true
        this.showGraficoDoughnut= false
      }
      
    },
    seleccionarTipoFiltro() {
      this.showGraficoDoughnut= false,
      this.showGraficoBar= false,
      console.log('this.radioGroup', this.radioGroup);
      
      this.$store.commit("setTipoFiltrado", this.radioGroup);
    },
    /*   -------------- click  para realizar  --------------------*/
    /*  ------------     grafico   ------------------ */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /* form date
     */
    toggleEmpresa() {
      this.$nextTick(() => {
        if (this.likesAllEmpresa) {
          this.selectedEmpresa = [];
        } else {
          // console.log(this.selectedEmpresa,'ter')
          this.selectedEmpresa = this.empresa.slice();
        }
      });
      //console.log(this.selectedEmpresa, "que traesc,d");
    }
  }
};
</script>